body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

.container__header {
    padding-right: 115px;
    padding-left : 115px;

    .title {
        font-size     : 36px;
        font-weight   : 800;
        padding-top   : 76px;
        padding-bottom: 30px;
    }
}

.header {
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    .header__city {
        flex-grow: 6;

        .label {
            display: inline;
        }

        input {
            margin-left        : 100px;
            padding            : 15px;
            width              : 400px;
            border             : 2px solid #323232;
            border-radius      : 3px;
            padding-left       : 30px;
            background-image   : url("../img/Vector.png");
            background-repeat  : no-repeat;
            background-position: 5px center;
        }

    }

    .header__login {
        background-color: #EF781A;
        border-style    : none;
    }

    .header__busket {
        background-color: #00D008;
        border-style    : none;
        padding         : 6px;
        width           : 84px;
        border-radius   : 2px;
        color           : white;
    }

}

main {
    display         : flex;
    padding-left    : 115px;
    padding-right   : 115px;
    background-color: #ECECEC;
    justify-content : space-between;

    .main__container2 {
        width           : 25%;
        height          : 20%;
        background-color: white;
        margin-top      : 30px;
        padding         : 25px;
        box-shadow      : 1px 3px 0 #C4C4C4;

        .right {
  

            .card__title {
                font-size  : 18px;
                font-weight: bold;
            }

            .order {
                display        : flex;
                justify-content: space-between;
                padding-top    : 15px;

                .order__food {
                    font-size: 14px;

                    ul {
                        padding-left: 20px;
                    }

                    li {
                        font-size: 12px;
                        color    : #979797;
                    }
                }

                .order__q {
                    img {
                        width: 20%;
                    }
                }
            }

            .delivery {
                display        : flex;
                justify-content: space-between;
                font-size      : 14px;
            }

            .button {
                background-color: #FF6C01;
                box-shadow      : 1px 3px 0 #C4C4C4;
                display         : flex;
                justify-content : space-between;
                color           : white;
                font-size       : 18px;
                font-weight     : bold;
                border-radius   : 5px;
                padding         : 15px;
                margin-top      : 20px;
            }
        }
    }

    .main__container {
        background-color: #ECECEC;
        width           : 75%;

        .left {
            display: flex;
            gap    : 20px;

            nav {
                width          : 1000px;
                margin-top     : 15px;
                display        : inline-flex;
                justify-content: left;
                gap            : 30px;

                div {

                    a {
                        font-size      : 18px;
                        color          : #7B7B7B;
                        text-decoration: none;
                        padding        : 5px;
                    }


                }

                div a:hover {
                    background-color: #C4C4C4;
                    border-radius   : 5px;
                    color           : #343434;

                }
            }

            .subtitle {
                font-size  : 24px;
                font-weight: bold;
                width      : 1000px;
                padding    : 30px 0;
            }

            .card {
                width          : 30%;
                justify-content: space-around;
                margin-bottom  : 15px;
                box-shadow     : 1px 3px 0 #C4C4C4;

                .card__img {
                    img {
                        width: 100%;
                    }
                }

                .card__title {
                    font-size  : 18px;
                    font-weight: bold;
                    padding    : 15px;
                }

                .card__article {
                    font-size: 10px;
                    padding  : 15px;
                    color    : #A1A1A1;
                }

                .price {
                    padding: 15px;

                    img {
                        float: right;
                    }

                    img:active {
                        background-image: url(../img/Vector2.png);
                    }
                }

                .card__btn {
                    background-color: #FF6C01;
                    width           : 50%;
                    margin-bottom   : 15px;
                    margin-left     : 15px;
                    border          : none;
                }
            }

            .modal__body {
                padding-top    : 30px;
                display        : inline-flex;
                justify-content: space-between;

                .left__section {
                    width: 40%;

                    .img {
                        width: 100%;
                    }

                    .bottom {
                        position: relative;
                        top     : 200px;

                        .fav {
                            font-size  : 14px;
                            font-weight: bold;
                            color      : #999999;
                            padding    : 20px;
                        }

                        .fav2 {
                            font-size    : 14px;
                            color        : #999999;
                            display      : inline-flex;
                            padding      : 20px;
                            box-shadow   : 0px 0px 10px rgba(0, 0, 0, 0.25);
                            border-radius: 10px;

                            img {
                                padding: 10px;
                            }
                        }
                    }
                }

                .right__section {
                    width      : 60%;
                    margin-left: 15px;

                    span {
                        font-weight: bold;
                    }

                    .modal__title {
                        font-size  : 24px;
                        font-weight: 800;
                    }

                    .text {
                        font-size: 14px;
                        color    : #443E3E;
                        padding-top: 20px;
                    }

                    .adds {
                        font-size  : 18px;
                        font-weight: bold;
                        padding    : 20px;
                    }

                    label {
                        font-size   : 16px;
                        padding-left: 10px;
                    }


                    span {
                        padding: 10px;
                    }

                    .modal__btn {
                        background-color: #FF6C01;
                        font-size       : 16px;
                        border-radius   : 5px;
                        margin-left     : 20px;
                    }
                }
            }
        }


    }

}